body {
    background-color: rgb(227, 231, 229);
    align-content: center;
    margin:auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* entire background of the header */
header {
    height: 5.2rem;
    background-color: black;
    
    /* align items centrally */
    display: flex;
    justify-content:center;
    align-items: center;
    
    /* padding around the green box */
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.titleBackground {
    background-color: #04AA6D;

    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;

    width: 14rem;
    height: 4rem;
    
    border: 1px solid white;
    
    /* align items centrally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleHeader {
    text-align: center;
    justify-self: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.betweenTitleNav {
    width: 50%;
    color: white;
    background-color: black;
    
    /* align self centrally */
    justify-self: center;
    align-self: center;
    
}

.sectionsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sectionsList li {
    display: inline;
}
.sectionButtons {
    padding: 14px 16px;
}
.sectionButtons:hover {
    background-color: #292929;
}

.socialsContainer {
    background-color: white;
    height: 4rem;
    width: 14rem;
    display: flex;
    justify-self: right;
    align-self: right;
}
.socialsLinks {
    color: blue;
    margin-right: white;
}


section{
    margin: auto;
    text-align: center;
}
p {
    width: 75%;
    margin: auto;
}
table {
    background-color: lightgrey;
    border: 1px solid #04AA6D;
    width: 50%;
    margin: auto;
}
thead {
    border: 1px solid darkgray;
}
tr {
    border: 1px solid darkgray;
}
th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

td {
    border: 1px solid rgb(100, 100, 100);
}
main {
    padding-bottom: 1.5in;
}
footer {
    background-color: black;
    color: white;
    height:4in;
    padding-top: 50px;
    border-top: 5px;
    border-color: white;
}